#instructions {
	text-align: center;
}

.boardArea {
	display:flex;
}

.boardSide {
	flex:1;
	
}
.boardCentre {
	flex:3;
	
}

.gameBox {
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	margin-right:auto; 
	margin-left:auto;
	border-radius: 10px;
}

.pieceLine {
	width:90px;
	height:90px;
	border-bottom: 1px solid black;
}

.pieceBox {
	width:100%;
	height:90%;
	border:1px solid black;
	margin: 0 auto;
}
.white {
	background-color: rgb(193,28,28);
}
.black {
	background-color: black;
}
.empty {
	background-color: white;
	border:none;
}