#instructions {
	text-align: center;
}

.boardArea {
	display:flex;
	flex-direction: row;
}

.boardSide {
	flex:1;
	
}

.boardSide > p {
	font-size: 20px;
}

.boardCentre {
	flex:3;
	
}
.arrowContainer {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	padding-left: 25px;
	padding-right: 25px;
}
#arrow1 {
	
	color:black;
	font-size: 300%;
	
}

#arrow2 {
	
	color: rgb(193,28,28);
	font-size: 300%;
}

.gameBox {
	display: flex;
	flex-direction:row;
	justify-content: space-around;
	margin-right:auto; 
	margin-left:auto;
	border-radius: 10px;

}

.pieceLine {
	width:90px;
	height:90px;
	border-bottom: 1px solid black;
}

.pieceBox {
	width:100%;
	height:90%;
	border:1px solid black;
	margin: 0 auto;
}
.red {
	background-color: rgb(193,28,28);
}
.black {
	background-color: black;
}
.empty {
	background-color: white;
	border:none;
}

/* Mobile screen styling */
@media screen and (max-width: 480px){   
	
	.boardArea {
		display:flex;
		flex-direction: column;
	}

	.side1 {
		order:3;
	}

	.area2 {
		order:2;
	}
	.centreArea {
		order:1;
	}

	.pieceLine {
		width:65px;
		height:65px;
	}

    
}     

@media screen and (min-width: 481px) and (max-width: 768px){   
	.boardArea {
		display:flex;
		flex-direction: column;
	}

	.side1 {
		order:3;
	}

	.area2 {
		order:2;
	}
	.centreArea {
		order:1;
	}

	.pieceLine {
		width:80px;
		height:80px;
		
	}
} 