

.gameContainer {
    display:flex;
    flex-direction:row;
}

.sidePanel {
    flex:1;
    text-align: center;
    
}

.gamePanel {
    flex:3;
    text-align: center;
    
}


#highScore > p, #yourScore > p {
    font-size: 20px;
}

.memBox {
    width:32%;
    height:100px;
    display:inline-block;
    opacity:0.5; 
}
/*
.memBox:hover {
    opacity:1; !important;
}
*/

#box1 {
    background-color:red;
}
#box2 {
    background-color:lightskyblue;
}
#box3 {
    background-color:#FF69B4;
}
#box4 {
    background-color:purple;
}
#box5 {
    background-color:green;
}
#box6 {
    background-color:orange;
}
#box7 {
    background-color:#8F6414;
}
#box8 {
    background-color:yellow;
}
#box9 {
    background-color:blue;
}

#startButton {
    text-align: center;
}

/* Mobile screen styling */
@media screen and (max-width: 480px), screen and (max-device-width: 480px){   
    
    .boardArea {
        display:flex;
        flex-direction: column;
    }

    .side1 {
        order:3;
    }

    .area2 {
        order:2;
    }
    .centreArea {
        order:1;
    }

    .pieceLine {
        width:65px;
        height:65px;
    }

    
}     

@media screen and (min-width: 481px) and (max-width: 768px), screen and (min-device-width: 481px) and (max-device-width: 768px) {   
    .boardArea {
        display:flex;
        flex-direction: column;
    }

    .side1 {
        order:3;
    }

    .area2 {
        order:2;
    }
    .centreArea {
        order:1;
    }

    .pieceLine {
        width:80px;
        height:80px;
        
    }
} 

/* Mobile screen styling */
@media screen and (max-width: 768px){   
              
   body{
       padding-top: 60px;
   }

   .gameContainer {
        display:flex;
        flex-direction:column;
        margin-top:30px;
    }
    .leftPanel {
        order:3;
    }

    .rightPanel {
        order:2;
    }

    .gamePanel {
        order:1;
    }

    .memBox {
        height:75px;
    }

  }