<!DOCTYPE html>
<html ng-app='BrainApp'>
<head>
    <title>Brain Challenge</title>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/memory.css">
    <link rel="stylesheet" type="text/css" href="css/conundrum.css">
    <link rel="stylesheet" type="text/css" href="css/board.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <style type="text/css">
        

    </style>
</head>
<body>
	<div class="container">
	    <nav class="navbar navbar-inverse navbar-fixed-top">
	        <div class="container">
	            <div class="navbar-header">
	                <a class="navbar-brand" href="#/">Brain Challenge</a>
	                <button type="button" class="navbar-toggle collapsed" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
	                	<span class="icon-bar"></span>
           				<span class="icon-bar"></span>
           				<span class="icon-bar"></span>
	                </button>
	            </div>
	            <ul id="collapsingList" class="nav navbar-nav navbar-right navbar-collapse" ng-class="{collapse: isCollapsed}">
	                <li><a href="#/memorybox" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">MemoryBox</a></li>
	                <li><a href="#/conundrum" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Conundrum</a></li>
	                <li><a href="#/boardswap" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">BoardSwap</a></li>
	                <li><a href="#/accounts/register" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Account</a></li>
	            </ul>
	        </div>
	    </nav>
	    <div class="title">
    		<h1 ng-bind="title"></h1>
		</div>
			<div class = ></div>

		</modal>
	    <div ng-view></div>
	</div>
	
<script src='js/app.js'></script>
<script src='js/controller.js'></script>
<script src='js/service.js'></script>
<script type="text/javascript" src="js/memory.js"></script>
<script type="text/javascript" src="js/conundrum.js"></script>
<script type="text/javascript" src="js/board.js"></script>

</body>
</html>
