body {
    padding-top: 50px;
}

.navbar {
	background-color: rgb(235,25,26);
	border: none;
}

.navbar .navbar-header > a {
	font-size: 2em;
	color: white;
}

.navbar .navbar-nav > li > a {
	color: white;
}

.jumbotron {
    position: relative;
    background: #000 url("imgs/puzzle.jpg") center center;
    width: 100%;
    height: 200px;
    background-size: cover;
    overflow: hidden;
}

.title > h1 {
    text-align: center;
    color: rgb(79,97,90);
    padding-bottom: 15px;
}

#boxhead {
    color: rgb(79,97,90)
}

.registerContainer {
    padding-top: 30px;
}

.gameContainer {
    display:flex;
    flex-direction:row;

}

.sidePanel {
    flex:1;
}
.gamePanel {
    flex:3;
    text-align: center;

}
/* MemoryBox screen styling */

.memBox {
    width:32%;
    height:100px;
    display:inline-block;
    opacity:0.3; !important;
}

.memBox:hover {
    opacity:1;
}

#box1 {
    background-color:red;
}
#box2 {
    background-color:lightskyblue;
}
#box3 {
    background-color:pink;
}
#box4 {
    background-color:purple;
}
#box5 {
    background-color:green;
}
#box6 {
    background-color:orange;
}
#box7 {
    background-color:grey;
}
#box8 {
    background-color:yellow;
}
#box9 {
    background-color:blue;
}

#startButton {
    text-align: center;
}

/* Mobile screen styling */
@media screen and (max-width: 768px){   
              
   body{
       padding-top: 220px;
   }

    .memBox {
        height:75px;
    }

  }