<div class="title">
    <h1>{{title}}</h1>
</div>
<hr/>
<br/>
<div class="gameBox">
	<div class="pieceBox" id="piece1"></div>
	<div class="pieceBox" id="piece2"></div>
	<div class="pieceBox" id="piece3"></div>
</div>
<hr/>
<div id="instructions">
	<h2>Instructions</h2>
	<p>Swap the black and white pieces in the fewest moves possible by moving into the empty space.</p>
	<p>You only only move a piece within 2 spaces into the empty space.</p>
	<p>Every time you successfully complete the challenge, you'll move to a bigger board.</p>
</div>