<div>
	<div class="title">
          <h1>{{title}}</h1>
    </div>
    <div class="jumbotron">
        
    </div>
    
    <div class="row">
        <div class="col-sm-4" id="thumb">
          <h2 id="boxhead">MemoryBox</h2>
          <p>Simple Simon, but with more boxes. Follow the flashing sequence and see 
          how many you can remember!</p>
          <a href="#/memorybox" class="btn btn-danger btn-default">Play Now</a>
        </div>
        <div class="col-sm-4" id="thumb">
          <h2 id="boxhead">Conundrum</h2>
          <p>The classic Conundrum from the Countdown TV Game Show. Test your 
          wordsmith skills!</p>
          <a href="#/conundrum" class="btn btn-danger btn-default">Play Now</a>
        </div>
        <div class="col-sm-4" id="thumb">
            <h2 id="boxhead">BoardSwap</h2>
          <p>A web version of the simple solitaire pegboard. Swap all the pieces in the minimum time possible!</p>
          <a href="#/boardswap" class="btn btn-danger btn-default">Play Now</a>
        </div>
    </div>
    <hr>
</div>