<div class="title">
    <h1>{{title}}</h1>
</div>
<div class="gameContainer">
	<div class="sidePanel"></div>
	<div class="gamePanel">
		<div class="memBox" id="box1"></div>
		<div class="memBox" id="box2"></div>
		<div class="memBox" id="box3"></div>
		<div class="memBox" id="box4"></div>
		<div class="memBox" id="box5"></div>
		<div class="memBox" id="box6"></div>
		<div class="memBox" id="box7"></div>
		<div class="memBox" id="box8"></div>
		<div class="memBox" id="box9"></div>
	</div>
	<div class="sidePanel"></div>
</div>
<div id="startButton">
	<button type="button" class="btn btn-danger" onclick="startGame()">Start</button>
</div>
<div>
	<p id="randomNumber">Test</p>
</div>